fastapi
uvicorn[standard]
pydantic[email]      # trae email-validator
SQLAlchemy
psycopg2-binary
passlib[bcrypt]
python-multipart
python-jose[cryptography]
python-json-logger==2.0.7
email-validator
google-generativeai